@model Carrito_Tarea_Michi.Models.Venta

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles la Venta #@Model.Id</h2>
<table>
    <thead>
        <tr>
            <th>Dia de la Venta</th>
            <td>@Model.DiaVenta</td>
        </tr>
        <tr>
            <th>SubTotal</th>
            <td>@String.Format("{0:C}", Model.Subtotal)</td>
        </tr>
        <tr>
            <th>IVA</th>
            <td>@String.Format("{0:C}", Model.Iva)</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>@String.Format("{0:C}", Model.Total)</td>
        </tr>
    </thead>
</table>

<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaVenta != null)
        {
            foreach (var lista in Model.ListaVenta)
            {
                <tr>
                    <td>@lista.Producto.Nombre</td>
                    <td>@String.Format("{0:C}", lista.Producto.Precio)</td>
                    <td>@lista.Cantidad</td>
                    <td>@String.Format("{0:C}", lista.Total)</td>
                </tr>
            }
        }
    </tbody>
</table>

